{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block main %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<body>
  <div class="receipt-container">
    <div class="receipts-grid">
      {% for receipt in receipts %}
      <div class="receipt-summary">
        <div class="summary-content">
          <h2>{{ receipt.merchant }}</h2>
          <p>Date: {{ receipt.datetime }}</p>
          <p>Total: <strong>{{ receipt.total }}</strong></p>
          <button onclick="showDetails({{ receipt.id }})">View Details</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  

  <!-- Details Modal -->
  <div id="receipt-details" class="receipt-details hidden">
    <div class="details-content">
      <h2>Receipt Details</h2>
      <div id="details-container">
        <!-- Details dynamically injected here -->
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
{% endblock %}

